body {
  background-color: lightblue;
  font: normal 15pt arial;
}
header {
  color: white;
  text-align: center;
}
section {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  width: 400px;
  margin: auto;
  box-shadow: 5px 5px 5px rgb(0,0,0,0.5);
}
footer {
  color: white;
  text-align: center;
  font-style: italic;
}
div {
  text-align: left;
  padding: 8px;
}
#botao {
  margin: 10px;
  text-align: left;
}
